<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuatnow.game.fiveLegend"
    android:versionCode="7"
    android:versionName="1.07" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
        </activity>
         <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity android:name="com.umeng.fb.ConversationActivity"/>
        <meta-data android:value="5644bf5f67e58ecf350009ab" android:name="UMENG_APPKEY"/>
    </application>
    
   <!-- 检测联网方式，区分用户设备使用的是2G、3G或是WiFi  --> 
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
   <!--访问互联网  --> 
    <uses-permission android:name="android.permission.INTERNET"/> 
   <!-- 获取用户手机的IMEI，用来唯一的标识用户-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
   <!-- 如果您的应用会运行在无法读取IMEI的平板上，我们会将mac地址作为用户的唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
